* {
    padding: 10px;
}

/* div.button {
    float: right;
} */

button {
    float: right;
}

table {
    border-collapse: collapse;
    padding: 10px;
    width: 100%;
}

thead {
    background-color: #007bff;
    color: #fff;
}

/* th {
    padding: 10px 0;
} */

/* td {
    padding: 10px;
} */

tbody>tr:nth-child(even) {
    background-color: #eee;
}