* {
    padding: 10px;
}

button {
    float: right;
}

h1 {
    display: inline-block;
    padding-bottom: 0px 10px 5px;
    margin: 0px;
}

table {
    border-collapse: collapse;
    padding: 10px;
    width: 100%;
}

tbody>tr:nth-child(even) {
    background-color: #eee;
}

textarea {
    width: 100%;
}

thead {
    background-color: #007bff;
    color: #fff;
}

/* th {
    padding: 10px 0;
} */

/* td {
    padding: 10px;
} */

