div.button {
    float: right;
}

table {
    border-collapse: collapse;
    padding: 10px;
    border: 1px solid #444;
}

thead {
    background-color: #555;
    color: #fff;
    padding: 10px;
}

td {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #999;
}