/* assignments.css */

h1 {
    background-color: yellowgreen;
    padding: 2rem;
    font-size: 2rem;
}

.circle {
    width: 60px;
    height: 48px;
    border: 1px solid #000;
    background: #fff;
    text-align: center;
    border-radius: 100%;
    font-size: 24px;
    line-height: 16px;
    padding-top: 14px;
  }
  .circle span{
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 5px;
    display: block;
  }