/* index.css */
/* 
body {
	margin: 10px;
}
 */

#text {
		float: left;
		margin: 0 1rem 1rem 0;
    width: 5rem;
    height: 5rem;
    text-align: center;
    border-radius: 100%;
    line-height: 5rem;
	  background-color: rgb(154,205,50);
	  background-size: 5rem 5rem;
	  font-size: 2rem;
	  display: inline;
	  opacity: 1;
}

#text:hover {
	cursor: pointer;
  background-color: rgb(138,185,45);
  transition
}

#image {
		float: left;
		margin: 0 1rem 1rem 0;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    border: 1px solid yellowgreen;
    background-image: url("HeadrickDavid.jpg");
	  background-size: 5rem 5rem;
	  box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,0.5);
  }

.btn-group {
	margin-top: 2%;
	display: flex;
	justify-content: center;
}

button {
	padding: 0.25rem 0.5rem;
}

/* 
button:hover {
	background-color: rgb(138,185,45);
}
 */

/* 
#button {
	padding: 10px;
	background-color: rgb(154,205,50);
	border: solid 1px rgb(138,185,45);
	color: rgb(0,0,0);
	text-decoration: none;
	display: block;
	margin: 10px 0px;
	text-align: center;
}

#button:hover {
		background-color: rgb(138,185,45);
}
 */
