/* index.css */


.circle {
    width: 5rem;
    height: 5rem;
    border: 1px solid #000;
    background: #fff;
    text-align: center;
    border-radius: 100%;
    line-height: 5rem;
    background-color: yellowgreen;
  }

  .circle span {
    display: block;
    font-size: 2rem;
  }