/* index.css */
section {
    margin: 10px;
}

#text {
    float: left;
    margin: 0 2rem 2rem 0;
    width: 10rem;
    height: 10rem;
    text-align: center;
    border-radius: 100%;
    line-height: 10rem;
    background-color: rgb(154,205,50);
    background-size: 10rem 10rem;
    font-size: 4rem;
}

#text:hover {
	cursor: pointer;
  	background-color: rgb(138,185,45);
}

#image {
	float: left;
	margin: 0 2rem 2rem 0;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    background-image: url("HeadrickDavid.jpg");
	background-size: 10rem 10rem;
	box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,0.5);
  }

.btn-wrapper {
	margin-top: 2%;
	display: flex;
	justify-content: center;
}

#button {
    padding: 1.25rem 1.5rem;
    background-color: #ffc400;
    border: 1px solid #b58b00;
    font-size: 2rem;
}

#button:hover {
    background-color: #b58b00;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222;
    color: white;
    text-align: center;
    padding-top: 10px;
}