/* index.css */


.circle {
		float: left;
		margin: 0 1rem 1rem 0;
    width: 5rem;
    height: 5rem;
    text-align: center;
    border-radius: 100%;
    line-height: 5rem;
    background-image: url("HeadrickDavid.jpg");
	  background-size: 5rem 5rem;
	  box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,0.5);
  }

  .circle span {
    display: block;
    font-size: 2rem;
  }
