/* index.css */


.circle {
    width: 5rem;
    height: 5rem;
    text-align: center;
    border-radius: 100%;
    line-height: 5rem;
/*     background-color: yellowgreen; */
    background-image: url("HeadrickDavid.jpg");
	  background-size: 5rem 5rem;
  }

  .circle span {
    display: block;
    font-size: 2rem;
  }