/* index.css */


/* 
#circle {
		float: left;
		margin: 0 1rem 1rem 0;
    width: 5rem;
    height: 5rem;
    text-align: center;
    border-radius: 100%;
    border: 1px solid yellowgreen;
    line-height: 5rem;
	  background-color: yellowgreen;
	  background-size: 5rem 5rem;
	  font-size: 2rem;
  }
 */
  
#text {
		float: left;
		margin: 0 1rem 1rem 0;
    width: 5rem;
    height: 5rem;
    text-align: center;
    border-radius: 100%;
    border: 1px solid yellowgreen;
    line-height: 5rem;
	  background-color: yellowgreen;
	  background-size: 5rem 5rem;
	  font-size: 2rem;
	  z-index: 1;
}

#image {
		float: left;
		margin: 0 1rem 1rem 0;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background-image: url("HeadrickDavid.jpg");
	  background-size: 5rem 5rem;
	  box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,0.5);
	  z-index: -1;
  }

#circle:hover {
	cursor: pointer;
}
