body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: black;
    padding: 1rem;
    margin-top: 0;
    color: white;
    text-align: center;
}

#div1, #div2, #div3 {
    padding: .75rem;
    margin: 1.5rem;
    vertical-align: middle;
}

#div1:hover, #div2:hover, #div3:hover {
    font-weight: bold;
}

#div1 {
    font-size: 3rem;
    background-color: lightblue;
    color: darkblue;
}

#div2 {
    font-size: 2rem;
    background-color: lightgreen;
    color: darkgreen;
}

#div3 {
    font-size: 1rem;
    background-color: lavender;
    color: purple;
}

input {
    vertical-align: middle;
}

/* div {
    margin: 20px 0;
} */

button#button1 {
    display: inline;
    vertical-align: middle;
}

button {
    font-size: 1rem;
    background-color: skyblue;
    padding: .75rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: blue;
    color: skyblue;
}

button:active {
    background-color: darkblue;
    color: skyblue;
}

